@define-color main #242424;
@define-color card #353535;
@define-color widget #484848;
@define-color widget-hover #404040;
@define-color widget-active #353535;
@define-color text #EEEEEE;
@define-color accent #1E88E5;
@define-color accent-active #0C55C0;
@define-color accent-hover #1D66D2;

.font{
	font-family: "YaHei Monaco Hybird";
}

.window{
	background-color: @main;
	padding: 10px;
}

.window-title{
	font-size: 70px;
}

.card{
	background-color: @card;
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
}
.entry{
	background-color: @widget;
	padding: 20px;
	color: @text;
	font-size: 25px;
	border: none;
	border-radius: 15px;
	/*TODO fix glitch*/
	outline-color: @accent;
	outline-offset: 0px;
	transition: ease 0.2s;
}
.button{
	padding: 20px;
	background-image: none;
	background-color: @widget;
	border: none;
	color: @text;
	border-radius: 15px;
	transition: ease 0.5s;
}
.button:hover{
	background-color: @widget-hover;
}
.button:active{
	background-color: @widget-active;
}
.button-suggested{
	background-color: @accent;
}
.button-suggested:hover{
	background-color: @accent-hover;
}
.button-suggested:active{
	background-color: @accent-active;
}

